openapi: 3.2.0
info:
  title: UCalgary Space Remote Sensing Real-Time Data API
  description: API providing data and tools for UCalgary Space Remote Sensing
  version: 1.56.0
servers:
- url: https://api.phys.ucalgary.ca
  description: UCalgary Space Remote Sensing API
tags:
- name: Real-Time Data
  description: Endpoints providing real-time data streams
paths:
  /api/v1/rt:
    get:
      tags:
      - Real-Time Data
      summary: List available real-time data streams
      description: 'Retrieve a list of all available real-time data streams.


        Optional query parameters can be used to filter results. All filters

        use case-insensitive partial matching.'
      operationId: get_rt_streams_api_v1_rt_get
      parameters:
      - name: network
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          title: Network
      - name: site_uid
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          title: Site Uid
      - name: id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          title: Id
      responses:
        '200':
          description: List of available real-time data streams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RTStreamListing'
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/rt/ws/info:
    get:
      tags:
      - Real-Time Data
      summary: WebSocket endpoint connection information
      description: 'Retrieve connection details and protocol documentation for the real-time

        data WebSocket endpoint.


        The WebSocket endpoint itself is at `/api/v1/rt/ws` and is not shown in

        the OpenAPI schema because WebSocket routes are not part of the OpenAPI

        specification. This endpoint provides the protocol documentation instead.'
      operationId: get_rt_websocket_info_api_v1_rt_ws_info_get
      responses:
        '200':
          description: WebSocket protocol documentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RTWebSocketInfo'
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /api/v1/rt/{id}/latest:
    get:
      tags:
      - Real-Time Data
      summary: Retrieve latest data for a real-time stream
      description: "Retrieve the latest data for a given real-time data stream.\n\nNotes:\n  - The `id` can be determined by using the stream listing endpoint.\n  - The response content type depends on the stream's mimetype (e.g., image/jpeg).\n  - Data is sourced from the database, populated by the RT ingester services.\n  - The response includes an `x-rt-stream-last-updated-utc` header with the ISO 8601 UTC timestamp of when the stream data was last updated."
      operationId: get_rt_stream_latest_api_v1_rt__id__latest_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      - name: countdown_clock
        in: query
        required: false
        schema:
          type: boolean
          description: Show countdown clock when not imaging
          default: false
          title: Countdown Clock
        description: Show countdown clock when not imaging
      responses:
        '200':
          description: Latest stream data
        '404':
          description: Stream ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: No data available or failed to retrieve from data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    RTStreamListItem:
      properties:
        name:
          type: string
          title: Name
        id:
          type: string
          title: Id
        description:
          type: string
          title: Description
        site_uid:
          type: string
          title: Site Uid
        network:
          type: string
          title: Network
        mimetype:
          type: string
          title: Mimetype
      type: object
      required:
      - name
      - id
      - description
      - site_uid
      - network
      - mimetype
      title: RTStreamListItem
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ErrorMessage:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: ErrorMessage
    RTWebSocketInfo:
      properties:
        url:
          type: string
          title: Url
        protocol:
          type: string
          title: Protocol
        description:
          type: string
          title: Description
        subscribe_message:
          additionalProperties: true
          type: object
          title: Subscribe Message
        unsubscribe_message:
          additionalProperties: true
          type: object
          title: Unsubscribe Message
        binary_format:
          type: string
          title: Binary Format
        json_format:
          additionalProperties: true
          type: object
          title: Json Format
      type: object
      required:
      - url
      - protocol
      - description
      - subscribe_message
      - unsubscribe_message
      - binary_format
      - json_format
      title: RTWebSocketInfo
    RTStreamListing:
      properties:
        streams:
          items:
            $ref: '#/components/schemas/RTStreamListItem'
          type: array
          title: Streams
      type: object
      required:
      - streams
      title: RTStreamListing
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
    APIKeyHeader:
      type: apiKey
      in: header
      name: x-srs-api-key
