openapi: 3.2.0
info:
  title: UCalgary Space Remote Sensing Utilities API
  description: API providing data and tools for UCalgary Space Remote Sensing
  version: 1.56.0
servers:
- url: https://api.phys.ucalgary.ca
  description: UCalgary Space Remote Sensing API
tags:
- name: Utilities
  description: Various helper endpoints
paths:
  /api/v1/utils/terminator:
    get:
      tags:
      - Utilities
      summary: Retrieve terminator coordinates
      description: "Retrieve coordinates for the terminator. \n\nThe timestamp parameter should be supplied in the format \"YYYY-MM-DDTHH:mm:ss\". \nUTC is the expected timezone.\n\nThe angle parameter is used for retrieving the terminator for civil, nautical, \nor astronomical twilight. Use the values -6.0, -12.0, or -18.0 for each of these \nterminators, respectively.\n\nNotes:\n  - The algorithm does not account for altitude at this time\n  - By default requests are cached. Use the 'no_cache' parameter to disable this functionality."
      operationId: get_terminator_api_v1_utils_terminator_get
      parameters:
      - name: timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: Timestamp
      - name: angle
        in: query
        required: false
        schema:
          type: number
          default: -12.0
          title: Angle
      - name: no_cache
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: No Cache
      responses:
        '200':
          description: Terminator coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/utils/magnetic_grid:
    get:
      tags:
      - Utilities
      summary: Retrieve geomagnetic coordinate grid
      description: "Retrieve a geomagnetic coordinate grid for a given timestamp.\n\nThe timestamp parameter should be supplied in the format \"YYYY-MM-DDTHH:mm:ss\". \nUTC is the expected timezone.\n\nThe grid consists of meridian lines (constant magnetic longitude, \"vertical\") and parallel lines\n(constant magnetic latitude, \"horizontal\") for both northern and southern hemispheres.\n\nNotes\n  - The resolution_lon and resolution_lat parameters control the spacing (in degrees) between\nmagnetic longitude and latitude lines, respectively. Lower values produce a denser grid.\n  - By default requests are cached. Use the 'no_cache' parameter to disable this functionality."
      operationId: get_magnetic_grid_api_v1_utils_magnetic_grid_get
      parameters:
      - name: timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: Timestamp
      - name: resolution_lon
        in: query
        required: false
        schema:
          type: number
          default: 10.0
          title: Resolution Lon
      - name: resolution_lat
        in: query
        required: false
        schema:
          type: number
          default: 5.0
          title: Resolution Lat
      - name: min_latitude
        in: query
        required: false
        schema:
          type: number
          default: 50.0
          title: Min Latitude
      - name: altitude_km
        in: query
        required: false
        schema:
          type: number
          default: 0.0
          title: Altitude Km
      - name: no_cache
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: No Cache
      responses:
        '200':
          description: Geomagnetic grid in geographic coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagneticGrid'
        '400':
          description: Problematic request made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    MagneticGridHemisphere:
      properties:
        vertical:
          items:
            items:
              items:
                type: number
              type: array
            type: array
          type: array
          title: Vertical
        horizontal:
          items:
            items:
              items:
                type: number
              type: array
            type: array
          type: array
          title: Horizontal
      type: object
      required:
      - vertical
      - horizontal
      title: MagneticGridHemisphere
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorMessage:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: ErrorMessage
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    MagneticGrid:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
        north:
          $ref: '#/components/schemas/MagneticGridHemisphere'
        south:
          $ref: '#/components/schemas/MagneticGridHemisphere'
      type: object
      required:
      - timestamp
      - north
      - south
      title: MagneticGrid
    Terminator:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
        coords:
          items: {}
          type: array
          title: Coords
      type: object
      required:
      - timestamp
      - coords
      title: Terminator
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
    APIKeyHeader:
      type: apiKey
      in: header
      name: x-srs-api-key
